/*BODY*/
body{
	padding-top: 60px;
}

.search-bar{
	position: fixed;
	top: 0;
	left: 0;
}

.img-item-content{
	position: relative;
}

ul.list{
	border: 0;
}
ul.list>li h2{
	width: 90%;
}
/*** news 相关的样式 ***/
.new {
	display: inline-block;
	background: #6CB92F;
	color: #fff;
	padding: 2px 2px;
	padding-left:4px;
	border-radius: 2px;
	font-size: 0.8rem;
	position: absolute;
	text-align: center;
	top: 5px;
	right: 0px;
}

.new:after {
	color: #6CB92F;
	top: 6px;
	left: -16px;
	position: relative;
	content: " ";
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: bottom;
	/* background-color: red; */
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 1px solid transparent;
}

ul.list>li p{
	color: #76777B;
}

ul.list>li .row{
	font-size:0.98rem;
	color:#76777B;
	padding-top:4px;
}
ul.list>li .row .news-comments{
	display:inline-block;
	float:right;
}
ul.list>li .row .news-comments:before {
	content: " ";
	background-image: url(../img/chatbox.png);
	background-position: center;
	background-size: 16px;
	width: 16px;
	height: 16px;
	display: inline-block;
	background-repeat: no-repeat;
	margin-right: 5px;
	position: relative;
	top: 2px;
}

